.App {
  text-align: center;
  margin: auto;
  width: 400px;
  margin-top: 30px;
}

.Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  margin-top: 100px;
  background-color: #e5f4ff;
}

.FirstName {
  width: 200px;
  height: 20px;
  border: 1px solid rgb(49, 0, 128);
  padding: 5px;
  margin-top: 50px;
}

.LastName {
  width: 200px;
  height: 20px;
  border: 1px solid rgb(49, 0, 128);
  padding: 5px;
  margin-top: 20px;
}

.UserName {
  width: 200px;
  height: 20px;
  border: 1px solid green;
  padding: 5px;
  margin-top: 20px;
}

.Password {
  width: 200px;
  height: 20px;
  border: 1px solid green;
  padding: 5px;
  margin-top: 20px;
}

.Email {
  width: 200px;
  height: 20px;
  border: 1px solid green;
  padding: 5px;
  margin-top: 20px;
}

.Submit {
  width: 213px;
  height: 40px;
  border: 1px solid green;
  padding: 5px;
  background: rgb(43, 55, 226);
  color: white;
  margin-top: 20px;
}

.Home {
  display: flex;
  justify-content: space-between;
  background-color: #d0bee5;
  position: fixed;
  top: 0;
  width: 100%;
}

.Home h1 {
  margin-left: 50px;
}

.Header {
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
}

.NavLinks {
  margin-right: 20px;
  margin-top: 10px;
}

.Home button {
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.Learn {
  padding-bottom: 40px;
  background-color: #c5eed9;
  margin-top: 100px;
}

.Teach {
  padding-bottom: 40px;
  background-color: #92a6be;
  margin-top: 100px;
}

.ContactUs {
  padding-bottom: 40px;
  background-color: #a692be;
  margin-top: 100px;
}

.todos {
  margin-top: 100px;
}
